In [1]:
import geopandas as gpd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
us_states_counties_filepath = './data/gadm41_USA_2.json'
gdf_us_states_counties = gpd.read_file(filename=us_states_counties_filepath)
gdf_us_states_counties.head(10)

,GID_2,GID_0,COUNTRY,GID_1,NAME_1,NL_NAME_1,NAME_2,VARNAME_2,NL_NAME_2,TYPE_2,ENGTYPE_2,CC_2,HASC_2,geometry
0,USA.1.1_1,USA,UnitedStates,USA.1_1,Alabama,NA,Autauga,NA,NA,County,County,NA,US.AL.AU,"MULTIPOLYGON (((-86.91670 32.66430, -86.82680 ..."
1,USA.1.2_1,USA,UnitedStates,USA.1_1,Alabama,NA,Baldwin,NA,NA,County,County,NA,US.AL.BD,"MULTIPOLYGON (((-87.74420 30.29440, -87.74030 ..."
2,USA.1.3_1,USA,UnitedStates,USA.1_1,Alabama,NA,Barbour,NA,NA,County,County,NA,US.AL.BR,"MULTIPOLYGON (((-85.41610 31.61960, -85.49130 ..."
3,USA.1.4_1,USA,UnitedStates,USA.1_1,Alabama,NA,Bibb,NA,NA,County,County,NA,US.AL.BI,"MULTIPOLYGON (((-87.42080 32.87450, -87.42030 ..."
4,USA.1.5_1,USA,UnitedStates,USA.1_1,Alabama,NA,Blount,NA,NA,County,County,NA,US.AL.BU,"MULTIPOLYGON (((-86.96290 33.85860, -86.96510 ..."
5,USA.1.6_1,USA,UnitedStates,USA.1_1,Alabama,NA,Bullock,NA,NA,County,County,NA,US.AL.BL,"MULTIPOLYGON (((-85.41000 32.14680, -85.40960 ..."
6,USA.1.7_1,USA,UnitedStates,USA.1_1,Alabama,NA,Butler,NA,NA,County,County,NA,US.AL.BT,"MULTIPOLYGON (((-86.70190 31.52520, -86.83880 ..."
7,USA.1.8_1,USA,UnitedStates,USA.1_1,Alabama,NA,Calhoun,NA,NA,County,County,NA,US.AL.CN,"MULTIPOLYGON (((-85.73850 33.96880, -85.52930 ..."
8,USA.1.9_1,USA,UnitedStates,USA.1_1,Alabama,NA,Chambers,NA,NA,County,County,NA,US.AL.CM,"MULTIPOLYGON (((-85.13910 32.74630, -85.28510 ..."
9,USA.1.10_1,USA,UnitedStates,USA.1_1,Alabama,NA,Cherokee,NA,NA,County,County,NA,US.AL.CH,"MULTIPOLYGON (((-85.53010 33.94180, -85.52930 ..."

In [17]:
# get BBOX bounds from 
xmin, ymin, xmax, ymax = gdf_us_states_counties.total_bounds
xmin, ymin, xmax, ymax

(-179.1506, 18.9099, 179.7734, 72.687)